* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*** DEBUG ***/
    /* background: #000 !important; */
    /* color: #0f0 !important; */
    /* outline: solid #f00 1px !important; */
}