body {
    margin: 5px 10px;
    height: fit-content;
    width: fit-content;
}

h1 {
    white-space: nowrap;
    font-size: 1.25em;
    margin: 0 0 5px;
}

.App-github-logo,
a {
    display: inline-block;
}

.App-github-logo {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}
