body {
    margin: 5px 10px;
    height: fit-content;
    width: fit-content;
}

h1 {
    white-space: nowrap;
    font-size: 1.25em;
    margin-bottom: 1em;
}

.feature-toggle {
    display: flex;
    flex-wrap: nowrap;
}

.feature-toggle > input {
    margin-right: 0.5em;
}

.feature-toggle > label {
    white-space: nowrap;
}

footer {
    margin-top: 1em;
}

.App-github-logo,
a {
    display: inline-block;
}

.App-github-logo {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}
